body {
    margin: 0;
    padding: 0;  
    text-align: center;
    background-color: #E9EDEE;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER*/

header div img {
    width: 10%;
}

.startlogo {
    background-color: #222f3f;
    text-align: left;
    padding: 0.5% 2.5%;
}

.navbar {
    background-color: #364757;
    padding: 0.3% 1%;
    margin: 0;
    color: white;
    text-align: left;
         
}

.navbar-text {
    display: inline;
    margin: 0.3%;
    padding-left: 0.6%;
}

header div nav p a {
    text-decoration: none;
    color: white;
}

/* MAIN */

.orangebar {
    color: white;
    background-color: #F46600;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    font-size: 1.1rem;
    margin: 2%;
}

.mainbar {
    background-image: url(/assets/img/bg-image.png);
    color: white;
    margin-left: 2%;
    margin-right: 2%;

}

.titletext {
    padding: 1.5%;
}

/*ARTICLE*/

article {
    background-color: white;
    margin: 2%;
    padding: 1.2%;
} 

.articletitle {
    text-align: left;
    font-weight: bolder;
}

article div a{
    padding: 1%;
    text-decoration: none;
    color:cadetblue;
}

main article div .mainbox {
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
}

.box {
    width: 20%;
    height: 43vh;
    margin: 2% 2.3% ;
    border-radius: 20% 20% 20% 20% / 15% 15% 15% 15%;
    display: inline-block;
    box-shadow: 6.5px 9.5px 6.5px 3px grey;
}

article div div p {
    display: none;
}

#box1 {
    background-image: url(/assets/img/img_1.jpg);
    background-size: cover;
    background-position: center;
}

#box2 {
    background-image: url(/assets/img/img_2.jpg);
    background-size: cover;
    background-position: center;
}

#box3 {
    background-image: url(/assets/img/img_3.jpg);
    background-size: cover;
    background-position: center;
}

#box4 {
    background-image: url(/assets/img/img_4.jpg);
    background-size: cover;
    background-position: center;
}

/*ASIDE*/

aside {
    margin-right: 2%;
    margin-left: 2%;
    

}

aside div div div img {
    margin-right: 2%;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 0.3%;
}

.asidetitle {
    font-weight: bolder;
    font-weight: 1.2rem;
}

aside div div div a {
    padding: 1%;
    text-decoration: none;
    color:cadetblue;

}

.final-button {
    background-color: #364759;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

body section div a {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}


/*FOOTER*/

footer {
    background-color: #222f3f;
    padding-top: 3%;
    padding-bottom: 3%;
}

footer div img {
    width: 15%;
}